body{
    background-color: blue;
    background-image: url("../img/edit2.jpg");
    background-position: center;
    background-size: 2350px; 
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.special{
    width: 110px;
}
.maps{
    padding: auto;
    margin: auto;
}
.socialNetworks{
    text-align: center;
    padding: auto;
    margin: auto;
}
.space{
    margin-top: 20px;/*15*/
}
.spaceAbout{
    margin-top: 50px;
}
.spaceMenu{
    margin-top: 0px;
}
.spaceLocation{
    margin-top: 280px;
}
.navbar{
    position: absolute;
    right: 0;
}
.bandeiras-align {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bandeiras-align>p {
    margin-bottom: 0;
}
@media (max-width: 640px){
.bandeiras-align {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
    }
}